body {
    background-color: rgb(37, 117, 252);

}

h1 {
    text-align: center;
    color: white;
}

#container {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
    color: white;

}

label,
input {
    margin-top: 20px;
}

video {
    margin: 50px;
}

video,
audio,
canvas {
    display: block;
    margin: 30px auto;
}

button {
    border-radius: 5px;
    margin-left: 40%;
}